<% @combined_proposals_courses.each do |c| %>
<a href="<%= proposal_course_pth(c) %>">
  <section class="post">
    <h1><%= c.name %></h1>
    <p><%= c.description %></p>
  </section>
</a>

<% end %>

<%= paginate @combined_proposals_courses %>
