<a href="/">
  <section>
    <h1>Title – Learn photoshop</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, illum accusantium ab repellendus asperiores error voluptatem…</p>
  </section>
</a>