<% @combined_proposals_courses.each do |c| %>
<a href="/">
  <section>
    <h1><%= c.name %></h1>
    <p><%= c.description %></p>
  </section>
</a>

<% end %>

<%= paginate @combined_proposals_courses %>
