<% @proposals.each do |proposal| %>

<a href="<%= proposal_path(proposal) %>">
  <section class="post">
    <h1><%= proposal.name %></h1>
    <p><%= proposal.description %></p>
  </section>
</a>

<% end %>

<%= paginate @proposals %>
