<% @courses.each do |course| %>

<a href="<%= course_path(course) %>">
  <section class="post">
    <h1><%= course.name %></h1>
    <p><%= course.description %></p>
  </section>
</a>

<% end %>

<%= paginate @courses %>
