<div id="notice"><%= notice %></div>

<%= render "shared/course_proposal_show", :obj => @course %>

<% if user_signed_in? && !@course.user_has_voted?(current_user) %>

<p>I would <a href="<%= course_vote_path(@course) %>">enroll</a> for this proposal!</p>

<% end %>

<button>
  <%= link_to 'Back', courses_path %>
</button>
