/* =============================================================================
   Variables
   ========================================================================== */

// colors
$light-grey: #eee;
$dark-grey: #626366;
$accent-color: #f16522;

/* =============================================================================
   Links
   ========================================================================== */

a {
  color: $dark-grey;
  text-decoration: none;

  &:hover {
    color: $accent-color;
  }

}

/* =============================================================================
   Typography
   ========================================================================== */

hgroup, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* =============================================================================
   Header
   ========================================================================== */

header {
  background-color: $light-grey;
  border-bottom: 2px solid $dark-grey;
  padding: 4%;

  .wrapper {
    @include outer-container;
  }

  img {
    @include span-columns(4);
  }

  ul {
    @include span-columns(7);
    font-size: 1.4em;
    
    li {
      display: inline-block;
      padding: 0 0 0 2em;
    }

  }

}

/* =============================================================================
   Main Section
   ========================================================================== */

main {
  @include outer-container;
  padding: 5%;
  border-left: 2px solid $dark-grey;
  border-right: 2px solid $dark-grey;
}